<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Embed Demo</title>
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ script|indent(4)|safe }}
    <script language="javascript">
      function submit_form(form_id) {
          document.getElementById(form_id).submit();
          }
    </script>
</head>
<body>
<H1>Iris Histogram</H1>

<form action="/bokeh" id="chart_form">
<select name="feature_name" onchange="submit_form('chart_form')">
  {% for feature in feature_names %}
    {% if feature == current_feature_name %}
      <option selected value="{{ feature }}">{{ feature }}</option>
    {% else %}
      <option value="{{ feature }}">{{ feature }}</option>
    {% endif %}
  {% endfor %}
</select>
</form>

{{ script|safe }}
{{ div|safe }}

</body>
</html>

